DB_NAME=db_pos_resto
DB_USER=your_db_user
DB_PASS=your_db_password
DB_HOST=your_db_host
DB_DIALECT=mysql
DB_TIMEZONE=+07:00

CLOUDINARY_CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET=your_api_secret

JWT_ACCESS_SECRET=your_jwt_access_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

NODE_ENV=production

ALLOWED_ORIGINS=https://your-frontend-domain.com,https://your-second-domain.com
COOKIE_DOMAIN=.your-domain.com

APP_LANG=id
